/.vscode
/kasuNhentaiCS/obj
/kasuNhentaiCS/file.txt
/kasuNhentaiCS/BenchmarkDotNet.Artifacts
/kasuNhentaiCS.json/obj
/kasuNhentaiCS.json/bin
/kasuNhentaiCS.json/kasuNhentaiCS.Json.cs
.fake
.ionide
vs
Output